
* {
    box-sizing: border-box;
}

/* The reason we are setting border-box is so that we can easily set the 
minimum height to the height of whatever device is being used to view the website
using viewpoint units (vh) border box is so that the padding and box can be taken into 
account*/

body {
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    color:#404040;
    font-size: 1rem;
    text-align: center;
}

/*=================
Typography
===================*/

h1 {
    font-size: 2.25rem;
    font-weight: 300;
   
}

h2 {
    font-size: 1.3125;
    margin: 0;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

h1 + p {
    color: #F18119;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.3125;
    margin: 0;
}

h2 + p {
    color: #F18119;
    text-transform: uppercase;
    margin: 0;
    font-weight: 900;
}

.top-text {
    color: #F18119;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.625rem;
    order: -1;
    border-top: 5px solid #FF713B;
    margin: 0;
}
/*=================
Layout Intro Section
===================*/

.intro {
    background-image: url(../images/dark-ribs.jpg);
    background-size: cover;
    background-position: center;
    background-color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
    padding-bottom: 1em;
    
}

/*=================
Layout Main Section
===================*/

.main-content {
    padding: 2em 1em;
}

.intro > *,
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
        display:flex;

    }

    h1 {
        font-size: 3.5rem;
    }

    h2,
    h1 + p {
        font-size: 1.75rem;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



}

/*=================
Form
===================*/
.email-collector {
    width: 80%;
    max-width: 300px;
   

}
input {
    border: 1px solid #404040;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: .75em;
    text-align: inherit;
    padding: .25em;
}

.btn,
input {
    width: 100%;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding:1em 1.5em;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    font-size: 0.625rem;
    text-transform: uppercase;
    letter-spacing: 1px; 
    font-family: inherit;
    background: linear-gradient(90deg, #FFA51D, #FF713B);
    color: #FFF;
    cursor: pointer;

}

input:focus {
    transform: scale(1.1);
}


.btn:hover,
.btn:focus {
    transform: scale(1.1);
 

}